# python files/temps
*.egg-info
*.pyc
__pycache__/
dist/
build/

# snap files and dirs
parts/
prime/
snap/
stage/

# extra snap stuff
*.snap*
*.bz2

# other folders
deb_dist/
.vs*/

# other files
*.chk
dist.zip

# jekyll
_site/
.sass-cache/

# sphinx
_build/
_static/
_templates/