*.egg-info
*.pyc

__pycache__/
dist/
build/
.vscode/

# snap files and dirs
parts/
prime/
snap/
stage/

# extra snap stuff
*.snap*
*.bz2

# old
dist.zip

# deb
deb_dist/

# other files
*.chk

# jekyll
_site/
.sass-cache/

# sphinx
_build/
_static/
_templates/