Source: hashit
Maintainer: Javad Shafique <javadshafique@hotmail.com>
Section: utils
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 7.4.3)
Standards-Version: 3.9.1


Package: hashit
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Hashing Application with muliple modes, settings and more!
  Hashit, is an hashing application used as an verification tool, intendet to replace the "standard" linux hashing utilities such as
  md5sum, sha1sum and so on. One of the main reasons why this program was develop was to create an easy-to-use command line tool for 
  newcomers and professionals alike to hash/verify files and other data. For more see our homepage at https://javadsm.github.io/hashit 